 *{
    margin: 0;
    padding: 0;
 }

.main{
    width: 100%;
    background-color:  #0f1724;
    background-position: center;
    background-size: cover;
    height: 109vh;
    

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin-top: 3px;
}
.logo{
    color: #60a5fa;
    font-family: Inter, ui-san-serif, system-ui, -apple-system, Roboto, "Helvetica Neue", Arial;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}
.menu{
    width: 330px;
    float: left;
    height: 70px;
    padding-left: 50px;
} 



ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 



ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 30px;
    font-size: 14px;
    
} 

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 1.0s ease-in-out ;

} 
ul li a:hover{
    color: #60a5fa; 
}



.btn{
    width: 100px;
    height: 40px;
    background: #60a5fa;
    border: 2px solid #60a5fa;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:hover{
    color: #fff;

}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
} 
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-size: 50px;
    padding-left: 20px;
    font-family: 'Times New Roman';
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #60a5fa;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transform: .2s ease;

}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .2s ease;

}
.cn:hover{
    background-color: #fff;
}

.cn:hover a{
    color: #60a5fa;
}

.content span{
    color: #60a5fa;
    font-size: 60px

}
.wrap {
    width: 100%;
    max-width: 100%;
    display: -ms-grid;
    grid-template-columns: 1fr 420px;
    gap: 32px;
    align-items: center;
}












.btrn{
    width: 150px;
    height: 40px;
    background: #60a5fa;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    margin-left: 20px;
}
.btrn:hover{
    background: white;
    color: #60a5fa;

}

.btrn:hover a{
    color: #60a5fa;
}
.btrn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #60a5fa;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;  
}
.icon a{
    text-decoration: none;
    color: white
    
}

.icon ion-icon{
    color: #fff;
    font-size: 20px;
    padding-left: 27px;
    padding-top: 5px;
    
    
    
    

}
.icon ion-icon:hover{
    color: #60a5fa;
    transition: 0.3s ease;
}

